/* CSS Entry Point */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
}

a{
	color: #0895B7;
}

header{
	background-color: white;
	height: 125px;
	padding-top: 25px;
	box-shadow: 0 8px 16px -12px grey;

	.useractions{
		height: 50px;
		width: 1100px;
		margin: auto;
		.search{
			float: left;
		}
		.actions{
			float: right;
			li{
				display: inline-block;
				margin-left: 15px;
			}
			li:last-child{
				border-left: 1px solid #DCDCD9;
				padding-left: 5px;
			}
		}
	}

	img{
		float: left;
		margin-right: 30px;
	}

	nav{
		width: 100%;
		border-top: 1px solid #DCDCD9;
		color: darken(#E1E3DF, 25%);
		height: 50px;
		ul{
			margin: auto;
			width: 1100px;
			li{
				display: inline-block;
				padding-right: 15px;
				line-height: 50px;
			}
			li:last-child{
				padding-right: 0;
			}
		}

		
	}
}

.app{
	background: #f5f5f1;
}

.contentWrapper{
	width: 1100px;
	margin: auto;
	overflow: hidden;
	margin-top: 30px;

	main{
		float: right;
		width: 750px;

		.sortWrapper{
			overflow: hidden;
		}

		.categories{
			float: left;
		}

		.sort{
			float: right;
		}
		.products{
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.product{
				width: 230px;
				border: 1px solid #DCDCD9;
				display: inline-block;
				background: white;
				margin-bottom: 20px;

				.productInfo{
					padding: 5px;
					font-size: 12px;
					overflow: hidden;
					.maker{
						float: left;
					}
					.price{
						float: right;
						color: #80C44D;
					}
					.productTitle{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					padding-bottom: 5px;
				}
				}

				
				img{
					width: 100%;
				}
				
			}
		}
		
	}

	aside{
		float: left;
		width: 300px;
		ul{
			background-color: white;
			padding: 15px;
			margin-top: 10px;
			border: 1px solid #DCDCD9;
			li{
				padding: 5px 0 0 20px;
			}
		}
		.searchRefine{

			margin-top: 20px;
			div{
				margin-top: 10px;
				padding: 15px;
				background: white;
				div{
					border-bottom: 1px solid #DCDCD9;
				}.shipTo{
					border-bottom: none;
				}
				.colorSelector{
					height: 20px;
					width: 20px;
					padding: 0;
					border: 1px solid #DCDCD9;
					display: inline-block;
					border-radius: 15%;
					&:nth-child(2){
						background-color: red;
					}&:nth-child(3){
						background-color: orange;

					}&:nth-child(4){
						background-color: yellow;

					}&:nth-child(5){
						background-color: green;

					}&:nth-child(6){
						background-color: blue;

					}&:nth-child(7){
						background-color: purple;

					}&:nth-child(8){
						background-color: black;

					}
				}
			} select{
				width: 100%;
			}
		}
	}
}
footer{
		border-top: 1px solid #DCDCD9;
		margin-top: 50px;

}
.footerContent{
	width: 1100px;
	margin: auto;
	text-align: center;
	.subscribe{
		border: 10px solid #EFEFEB;
		border-radius: 5%;
		margin-top: 30px;
		padding: 30px;
	}
	.footerNav{
		display: flex;
		justify-content: space-between;
		margin: 30px 0 30px 0;
		border-bottom: 1px solid #DCDCD9;
		padding-bottom: 30px;
		ul{
			display: inline-block;
			margin-right: 40px;
			text-align: left;
			li{
				text-align: left;
				margin-bottom: 10px;
			}
		}	
	}
	.legalFooter{
		padding-bottom: 30px;
		li{
			display: inline-block;
			border: 1px solid #DCDCD9;
			margin: 0;
			padding: 15px;
		}li:last-child{
			margin-left: 40px;
		}
	}	
}

